/*Variables*/
:root {
    --primary: #66023c;
    --business: #3A82EE;
    --personal: var(--primary);
    --light: #EEE;
    --grey: #888;
    --dark: #313154;
    --danger: #ff5b57;

    --shadow: 0 1px 3px rgba(0, 0 , 0 ,0.1);

    --businessGlow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personalGlow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

/*Elementos Generales*/
body {
    background: var(--light);
    color: var(--dark);
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

/*Saludo personalizado*/
.greeting .title {
    display: flex;
}

.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title, .greeting .title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

/*Creador de eventos*/
.createToDo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}

.createToDo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.createToDo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 0.125rem solid var(--business);
    box-shadow: var(--businessGlow);
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personalGlow);
}

.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--business);
    box-shadow: var(--businessGlow);
    border-radius: 50%;
    transition: 0.1s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personalGlow);
}

input:checked ~ .bubble::after {
    width: 0.625rem;
    height: 0.625rem;
    opacity: 1;

}

.createToDo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;

}
.createToDo input[type="submit"] {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    color: #FFF;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: var(--personalGlow);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.createToDo input[type="submit"]:hover {
    opacity: 0.75;
}

/*Lista de eventos*/
.toDoList .list {
    margin: 1rem 0;
}

.toDoList .toDoItem {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.toDoItem label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.toDoItem .toDoContent {
    flex: 1 1 0%;
}

.toDoItem .toDoContent input {
    color: var(--dark);
    font-size: 1.1.25rem;
}

.toDoItem .actions {
    display: flex;
    align-items: center;
}

.toDoItem .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.toDoItem .actions button:hover {
    opacity: 0.75;
}

.toDoItem .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--primary);
}

.toDoItem .actions .delete {
    background-color: var(--danger);
}

.toDoItem.done .toDoContent input {
    text-decoration: line-through;
    color: var(--grey);
}